# Basic mathematical operations can be done

In [1]:
print(1+3)

4

In [ ]:
print(1*3)

In [ ]:
print(3**2)

In [ ]:
print(pow(3,2))

In [ ]:
print(5/2)

In [ ]:
print(5//2)

In [ ]:
print(5%2)

# Print function is not needed in Jupyter notebook for printing

In [ ]:
12+34-32

# Basic relational operations can be done

In [ ]:
45>20

In [ ]:
23==34

In [ ]:
32<=32

In [ ]:
24!=45

# Basic logocal operations can be done

In [ ]:
3>2 and 3!=4

In [ ]:
3==4 and 5<7

In [ ]:
3==4 or 5<7

In [ ]:
not 3==4

# Primitive data types

In [ ]:
type(2)

In [ ]:
type(3.123)

In [ ]:
type("Dog")

In [ ]:
type(True)

In [ ]:
type(False)

# Checking whether a value is in a specific type or not

In [ ]:
isinstance(2,int)

In [ ]:
isinstance(3.455,float)

In [ ]:
isinstance(3.455,int)

# Type casting

In [ ]:
int(3.212)

In [ ]:
float(3)

In [ ]:
int("45")

# Python variables

In [ ]:
x=20
y=30
print(x+y)

In [ ]:
z=x-y
print(z)

In [ ]:
s=x>30
print(s)

In [ ]:
p="Today is a beatiful day!!"
print(p)

# Special features of Python variables

In [ ]:
a=b=c=10

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
p,q=10,20

In [ ]:
p

In [ ]:
q

# User inputs

In [ ]:
name=input("Please enter your name: ")
print(name)

In [ ]:
age=input("Please enter your age: ")
print(age)

In [ ]:
type(age)

In [ ]:
age_2years=int(age)+2
print(age_2years)

In [ ]:
num1=float(input("Enter the first value:"))
num2=float(input("Enter the second value:"))

num3=num1+num2
print(num3)

# Python comments

In [ ]:
#This is the first number
num1=20

#This is the second number
num2=30

print(num1+num2)

In [ ]:
'''
This is the doc string
This can be used for multiple lines as well
'''

print(25+40)

# Compound data types

# Lists

In [ ]:
L=[23,33,22,23,21,23]
print(L)

In [ ]:
S=["Cat","Dog","Cow"]
print(S)

In [ ]:
K=["Cat",23,33,43,True]
print(K)

In [ ]:
len(L)

In [ ]:
type(L)

# Adding lists

In [ ]:
L1=[23,33,21,23]
L2=[45,43,32]
L=L1+L2
print(L)

# Nested lists

In [ ]:
L=[12,22,23,21,[23,33,45,54],"Man"]
print(L)

In [ ]:
len(L)

# Subsetting lists

# Indexing

In [ ]:
L=[4,5,3,6,8,3,7,9,12,26,43]

In [ ]:
L[0]

In [ ]:
L[2]

In [ ]:
L[-1]

In [ ]:
L[-3]

# Slicing

In [ ]:
L[1:5]

In [ ]:
L[2:]

In [ ]:
L[:5]

In [ ]:
L[::5]

In [ ]:
L[:-1]

# Lists are mutable

In [ ]:
L=[23,34,45,56,66]

In [ ]:
L[0]=100

In [ ]:
L

# Aliasing

In [ ]:
a=[12,22,23,34,45,56,44,43,46]
b=a

In [ ]:
b

In [ ]:
b[0]=200

In [ ]:
b

In [ ]:
a

# Cloaning

In [ ]:
a=[12,22,23,34,45,56,44,43,46]
b=a[:]

In [ ]:
b

In [ ]:
b[0]=200

In [ ]:
b

In [ ]:
a

In [ ]:
c=a.copy()

# Appending new elements

In [ ]:
L=[12,22,34,32]
L.append(100)
print(L)

In [ ]:
L=[]
L.append(30)
L.append(40)
L.append(50)
print(L)

In [ ]:
L=[12,22,34,32]
L.append([40,50,60])
print(L)

# Extending lists

In [ ]:
L=[12,22,34,32]
L.extend([40,50,60])
print(L)

# Inserting a specific element to a specific place

In [ ]:
L=[23,36,54,60,70]
L.insert(3,100)
print(L)

# Removing a specific elemend from a list

In [ ]:
L=[23,36,54,60,70]
L.remove(60)
print(L)

# Removing an elemend in a specific index of a list

In [ ]:
L=[23,36,54,60,70]
del(L[2])
print(L)

# Pop out the last element in a list

In [ ]:
L=[12,22,23,34,32,33]
L.pop()

In [ ]:
L=[12,22,23,34,32,33]
L.pop(2)

# Membership test

In [ ]:
P=[34,33,32,34,32,33,56]

In [ ]:
34 in P

In [ ]:
60 in P

In [ ]:
60 not in P

# Sorting lists

In [ ]:
L=[45,33,32,34,45,43,33,67,65]

In [ ]:
L.sort()

In [ ]:
L

In [ ]:
L=[45,33,32,34,45,43,33,67,65]

In [ ]:
P=sorted(L)

In [ ]:
P

In [ ]:
L

# Counting elements

In [ ]:
L=[33,32,33,34,45,44,33,45,67,33]

In [ ]:
L.count(33)

# Index of an element

In [ ]:
L=[33,32,33,34,45,44,33,45,67,33]

In [ ]:
L.index(45)

# Tuple

# Creating tuples

In [ ]:
T=(23,33,34,45,56)
print(T)

In [ ]:
F=23,33,34,45,56
print(F)

# Indexing and slicing is similar to the lists

In [ ]:
T=(23,33,34,45,56)
print(T[3])

In [ ]:
T=(23,33,34,45,56)
print(T[1:3])

In [ ]:
T=(55,45,56,67,32,[33,45,56,67])

In [ ]:
T[5][2]

# Tuples are not mutable

In [ ]:
T=(55,45,56,67,32,[33,45,56,67])

In [ ]:
T[0]=30 #This will give an error

In [ ]:
T[5][2]=100

In [ ]:
T

# Unpacking tuples

In [ ]:
T=(33,32,34,45,56)
a,b,c,d,e=T

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
d

In [ ]:
e

# Membership test in tuples

In [ ]:
T=(23,33,32,34,45)

In [ ]:
23 in T

In [ ]:
60 in T

In [ ]:
60 not in T

# Index of an element

In [ ]:
T=(23,33,34,56,78)

In [ ]:
T.index(34)

# Count elements

In [ ]:
T=(33,32,34,34,45,66,34,78)

In [ ]:
T.count(34)

# Sets

# Creating sets

In [ ]:
S={23,33,32,22,24,56,43,33,33,33,56}

In [ ]:
S

# Adding an element to a set

In [ ]:
S={23,33,45}
S.add(50)
print(S)

# Adding multiple elements to a list

In [ ]:
S={23,33,45}
S.update([50,50,60,70])
print(S)

# Removing elements

In [ ]:
S={23,33,45}
S.remove(45)
print(S)

In [ ]:
S={23,33,45}
S.discard(45)
print(S)

# Union between two sets

In [ ]:
A={2,3,4,5,6}
B={4,5,6,7,8}

In [ ]:
A.union(B)

In [ ]:
B.union(A)

# Intersection between two sets

In [ ]:
A.intersection(B)

In [ ]:
B.intersection(A)

# Casting compund data

In [ ]:
L=[2,3,4,5,6,6,6,7,8,9]

In [ ]:
T=tuple(L)
print(T)

In [ ]:
S=set(L)
print(S)

In [ ]:
T=(4,5,6,7)

In [ ]:
L=list(T)
print(L)

# Dictionary

# Creating dictionaries

In [ ]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [ ]:
d

In [ ]:
g=dict([("A",20),("B",[40,30,20])])

In [ ]:
g

# Keys & values

In [ ]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [ ]:
d.keys()

In [ ]:
d.values()

# Membership test

In [ ]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [ ]:
"Name" in d

# Accessing elements

In [ ]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [ ]:
d["Name"]

In [ ]:
d.get("Age")

# Changing elements

In [ ]:
k={"A":30,"B":70}

In [ ]:
k["A"]=100

In [ ]:
k

# Adding a new element

In [ ]:
k={"A":30,"B":70}

In [ ]:
k["C"]=200

In [ ]:
k

# Removing an element

In [ ]:
k={"A":30,"B":70}

In [ ]:
del k["A"]

In [ ]:
k