In [ ]:
# import pip
# pip.main(["install","imblearn"])

In [1]:
from imblearn.over_sampling import SMOTE,ADASYN #For class imbalance
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv("D:\\Workshops\\Python for Data Science Comprehensive Workshop\\Part 04 - Machine Learning\\Datasets\\Bank_Imbalance.CSV")
data.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,1
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,1
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,1
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

In [4]:
x=data.iloc[:,:7]
y=data.iloc[:,7]

In [5]:
y.value_counts()

1    2396
0     603
Name: y, dtype: int64

# Creating a SMOTE object

In [6]:
smt=SMOTE()

# Performing SMOTE

In [7]:
x_sm,y_sm=smt.fit_resample(x,y)

In [8]:
y_sm.value_counts()

1    2396
0    2396
Name: y, dtype: int64

In [9]:
print(len(x), len(x_sm))

2999 4792

# Creating ADASYN object

In [10]:
ada=ADASYN()

# Performing ADASYN

In [11]:
x_ad,y_ad=ada.fit_resample(x,y)

In [12]:
y_ad.value_counts()

0    2402
1    2396
Name: y, dtype: int64

In [13]:
print(len(x), len(x_ad))

2999 4798