# Importing needful libraries

In [27]:
import pandas as pd
from sklearn import datasets
from sklearn.multiclass import OneVsRestClassifier,OneVsOneClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

# Setting the data

In [7]:
data=pd.read_csv("D:\\Workshops\\Machine Learning for Data Science & Artifcial Intelligence With Python\\data\\iris.CSV")

In [8]:
data.head()

     Id  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0  1001           5.1          3.5           1.4          0.2  setosa
1  1002           4.9          3.0           1.4          0.2  setosa
2  1003           4.7          3.2           1.3          0.2  setosa
3  1004           4.6          3.1           1.5          0.2  setosa
4  1005           5.0          3.6           1.4          0.2  setosa

In [9]:
data.drop("Id",axis=1,inplace=True)

In [10]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
le=LabelEncoder()
data["Species"]=le.fit_transform(data["Species"])

In [14]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [15]:
data["Species"].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [16]:
x=data.iloc[:,:4]
y=data.iloc[:,4]

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# One Vs Rest Classifier

In [20]:
model=OneVsRestClassifier(LogisticRegression())

In [21]:
model.fit(x_train,y_train)

OneVsRestClassifier(estimator=LogisticRegression())

In [22]:
y_pred=model.predict(x_test)

In [26]:
confusion_matrix(y_test,y_pred)

array([[11,  0,  0],
       [ 0, 12,  1],
       [ 0,  0,  6]], dtype=int64)

In [24]:
accuracy_score(y_test,y_pred)

0.9666666666666667

# One Vs One Classifier

In [28]:
model=OneVsOneClassifier(LogisticRegression())

In [29]:
model.fit(x_train,y_train)

OneVsOneClassifier(estimator=LogisticRegression())

In [30]:
y_pred=model.predict(x_test)

In [31]:
confusion_matrix(y_test,y_pred)

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]], dtype=int64)

In [32]:
accuracy_score(y_test,y_pred)

1.0