# Imorting pandas

In [ ]:
import pandas as pd
import numpy as np #For future use

# Pandas Series

# Creating pandas series

In [ ]:
my_series=pd.Series([1,2,3,4,"Cat"],index=["a","b","c","d","e"])
my_series

In [ ]:
my_series=pd.Series({"a":1,"b":4,"c":6})
my_series

# Accessing values inside pandas series

In [ ]:
my_series=pd.Series([1,2,3,4,"Cat"],index=["a","b","c","d","e"])
my_series

In [ ]:
my_series[1]

In [ ]:
my_series["b"]

# Pandas Data Frames

# Creating pandas data frames

# (01) Using dictionaries

In [ ]:
d={"Name":["Sam","Jane","Kane"],"Age":[23,24,25]}
df=pd.DataFrame(d)
df

# (02) Using numpy arrays

In [ ]:
arr=np.array([[12,23],[23,56],[43,21]])
df=pd.DataFrame(arr,columns=["Col1","Col2"])
df

# (03) Using pandas series

In [ ]:
my_series=pd.Series([1,2,3,4,7],index=["a","b","c","d","e"])
df=my_series.to_frame()
df.columns=["Col1"]
df

In [ ]:
my_series1=pd.Series([1,2,3,4,7],index=["a","b","c","d","e"])
my_series2=pd.Series([6,5,7,8,2],index=["a","b","c","d","e"])
df=pd.concat([my_series1,my_series2],axis=1)
df.columns=["Col1","Col2"]
df

# (04) Creating data frames using CSV files

In [ ]:
df=pd.read_csv("C:\\Users\\samadhi\\Desktop\\Workshop\\datasets\\iris.CSV")
df

# Top values of the data set

In [ ]:
df.head()

# Bottom values of the data set

In [ ]:
df.tail()

# Columns & indexes of the data set

In [ ]:
df.columns

In [ ]:
list(df.index)

# Shape of the data frame

In [ ]:
df.shape

In [ ]:
print(df.shape[0])
print(df.shape[1])

In [ ]:
len(df) #This gives the number of rows

# (05) Creating data frames using Excel files

In [ ]:
ef=pd.ExcelFile("C:\\Users\\samadhi\\Desktop\\Workshop\\datasets\\iris.XLSX")
ef

In [ ]:
ef.sheet_names

In [ ]:
file=ef.sheet_names[0]
df=ef.parse(file)
df

# Adding new columns

In [ ]:
df=pd.DataFrame({"Col1":[12,22,23,34,45],"Col2":[45,43,44,46,54],"Col3":[56,43,46,67,65]})
df

In [ ]:
df["Col4"]=[23,33,46,57,76]
df

# Accessing columns & elements

In [ ]:
df=pd.DataFrame({"Col1":[12,22,23,34,45],"Col2":[45,43,44,46,54],"Col3":[56,43,46,67,65]})
df

# Accessing columns

In [ ]:
df.columns

In [ ]:
df["Col1"]

In [ ]:
df[["Col1","Col2"]]

# Accessing elements

In [ ]:
df.iloc[0,1]

In [ ]:
df.iat[0,2]

In [ ]:
df.iloc[:3,1]

In [ ]:
df.loc[0,"Col1"]

In [ ]:
df.at[0,"Col2"]

# Basic column operations

In [ ]:
data = np.arange(10).reshape(5,2)
df = pd.DataFrame(data,columns=["Col1","Col2"])
df

In [ ]:
df["Col3"]=df["Col1"]+df["Col2"]
df

# Pandas data frames with apply function

In [ ]:
data = np.arange(10).reshape(5,2)
df = pd.DataFrame(data,columns=["Col1","Col2"])
df

In [ ]:
df.apply(sum, axis = 0)

In [ ]:
df.apply(sum, axis = 1)

In [ ]:
def multi(L):
    return L[0]*L[1]

In [ ]:
df.apply(multi, axis = 1)

In [ ]:
df["Col3_mul"]=df.apply(multi, axis = 1)

In [ ]:
df

# Pandas data frames with lambda & map function

In [ ]:
data = np.arange(10).reshape(5,2)
df = pd.DataFrame(data,columns=["Col1","Col2"])
df

In [ ]:
fun=lambda x:2*x

In [ ]:
df["Col2"].map(fun)

# Selecting rows that have certain values

# Boolean masking technique

In [ ]:
df=pd.DataFrame({"Name":["A","B","C","D","E","F"],"Age":[23,33,21,35,23,34],"Result":["Pass","Fail","Pass","Pass","Fail","Fail"]})
df

In [ ]:
df[df["Result"]=="Pass"] #Select the guys who have passed

In [ ]:
df[df["Age"]>=30] #Guys who are older than 30

In [ ]:
df[(df["Age"]<30 )&(df["Result"]=="Pass")] #Guys who are younfer than 30 and passed the exam

# Selecting with lambda with map function

In [ ]:
fun=lambda L: "Pass" in L
df["Result"].map(fun)

In [ ]:
df[df["Result"].map(fun)]

# Data summaries

In [ ]:
data=np.random.random(10).reshape(5,2)
data

In [ ]:
df=pd.DataFrame(data,columns=["A","B"],index=["a","b","c","d","e"])
df

# Summaries for each column

In [ ]:
df.describe()

# Summaries for each row

In [ ]:
df.transpose().describe()

# Finding sums for columns and rows separately

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

# Finding cumulative sums for columns and rows separately

In [ ]:
df.cumsum()

In [ ]:
df.cumsum(axis=1)

# Finding means for columns and rows separately

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

# Finding minumum and maximum for columns and rows separately

In [ ]:
df.min()

In [ ]:
df.min(axis=1)

In [ ]:
df.max()

In [ ]:
df.max(axis=1)

# Dropping rows & columns

In [ ]:
df=pd.DataFrame({"Name":["A","B","C"],"Age":[23,33,21],"Result":["Pass","Fail","Pass"]},index=["a","b","c"])
df

# Dropping rows

In [ ]:
df1=df.drop("a")
df1

In [ ]:
df #Oroginal data frame is not affected

In [ ]:
df.drop("a",inplace=True) #Oroginal data frame is affected
df

# Dropping columns

In [ ]:
df=pd.DataFrame({"Name":["A","B","C"],"Age":[23,33,21],"Result":["Pass","Fail","Pass"]},index=["a","b","c"])
df

In [ ]:
df1=df.drop("Result",axis=1)
df1

In [ ]:
df2=df.drop(["Age","Result"],axis=1)
df2

# Sorting data frames with column values

In [ ]:
d={"Name":["Sam","Jane","Kane"],"Mark1":[67,54,44],"Mark2":[56,56,67],"Mark3":[78,89,76]}
df=pd.DataFrame(d)
df

In [ ]:
df.sort_values(by="Mark1") #Sort the data frame with mark1 in ascending order

In [ ]:
df.sort_values(by="Mark1",ascending=False) #Sort the data frame with mark1 in descending order

In [ ]:
df.sort_values(by="Name") #Alphabetically

# Grouping data frames with categorical data

In [ ]:
d={"ID":[1001,1002,1003,1004,1005],"Age":[23,33,34,24,25],"Gender":["F","F","M","F","M"],"Marks":[67,69,76,74,90]}
df=pd.DataFrame(d)
df

In [ ]:
g=df.groupby("Gender") #It is returning an object

In [ ]:
for i,j in g:
    print(i)
    print(j)

# Summaries for other variables with grouping

In [ ]:
df.drop("ID",inplace=True,axis=1)
df

In [ ]:
df.groupby("Gender").mean()

In [ ]:
df.groupby("Gender").sum()

In [ ]:
df.groupby("Gender")["Marks"].mean()

# Summarizing other variables with grouping by using multiple options

In [ ]:
df.groupby("Gender").agg(["mean","median","max","min"])

# Grouping with more than one columns

In [ ]:
d={"Age":[23,33,34,24,25],"Gender":["F","F","M","F","M"],"Marks":[67,69,76,74,90],"University":["UOC","UOC","UOC","UOP","UOP"]}
df=pd.DataFrame(d)
df

In [ ]:
df.groupby(["University","Gender"]).mean()

# Concatenating data frames

In [ ]:
df1=pd.DataFrame(np.random.random((5,2)),columns=["A","B"])
df2=pd.DataFrame(np.random.random((5,2)),columns=["A","B"])

In [ ]:
df1

In [ ]:
df2

# Concatenating along the rows

In [ ]:
newdf=pd.concat([df1,df2],ignore_index=True) #ignore_index will reset the index in the correct way
newdf

# Concatenating along the columns

In [ ]:
newdf=pd.concat([df1,df2],axis=1)
newdf

# Merging data frames

In [ ]:
df1=pd.DataFrame({"ID":[1,2,3,4],"Val1":[23,33,34,45]})
df2=pd.DataFrame({"ID":[3,4,5,6],"Val2":[56,32,67,65]})

In [ ]:
df1

In [ ]:
df2

# Focus on the common Ids

In [ ]:
df3=pd.merge(df1,df2,on="ID",how="inner")
df3

# Focus on the all Ids

In [ ]:
df4=pd.merge(df1,df2,on="ID",how="outer")
df4

# Focus on the left side data frame Ids

In [ ]:
df5=pd.merge(df1,df2,on="ID",how="left")
df5

# Focus on the right side data frame Ids

In [ ]:
df6=pd.merge(df1,df2,on="ID",how="right")
df6

# Using an indicator for showing how the tables are merged

In [ ]:
df7=pd.merge(df1,df2,on="ID",how="outer",indicator=True)
df7

# Merging based on more than one column

In [ ]:
df1=pd.DataFrame({"ID1":[1,2,3,4],"ID2":[7,8,9,10],"Val1":[23,33,34,45]})
df2=pd.DataFrame({"ID1":[2,3,5,6],"ID2":[8,9,10,11],"Val2":[56,32,67,65]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
newdf1=pd.merge(df1,df2,on=["ID1","ID2"],how="outer",indicator=True)
newdf1

In [ ]:
newdf2=pd.merge(df1,df2,on=["ID1","ID2"],how="inner")
newdf2

# Counting values

In [ ]:
d={"Col1":["P","P","Q"],"Col2":["X","Y","Z"],"Col3":["A","B","C"]}
df=pd.DataFrame(d)
df

In [ ]:
pd.value_counts(df["Col1"])

In [ ]:
df.apply(pd.value_counts)

# Unique values in a column

In [ ]:
d={"Col1":["P","P","Q"],"Col2":["X","Y","Z"],"Col3":["A","B","C"]}
df=pd.DataFrame(d)
df

In [ ]:
df["Col1"].unique()

# Replace values in data frame

In [ ]:
d={"Col1":["P","P","Q"],"Col2":["X","Y","Z"],"Col3":[3,6,8]}
df=pd.DataFrame(d)
df

In [ ]:
df["Col1"].replace("P","A",inplace=True)
df

In [ ]:
df["Col2"].replace(["X","Y"],["K","L"],inplace=True)
df

In [ ]:
#By accessing the values directly, they can be changed.
df.iat[0,2]=10
df

# Stacking & Unstacking data frames

In [ ]:
d={"Col1":["P","P","Q"],"Col2":["X","Y","Z"],"Col3":[3,6,8]}
df=pd.DataFrame(d)
df

In [ ]:
df2=df.stack()
df2

In [ ]:
df3=df2.unstack()
df3

# Creating Pivot tables

In [ ]:
d={"Cat":["A","B","B","A","C","A","C","B"],"Rank":["1","2","1","2","1","2","1","2"],"Val":[4,5,6,8,3,9,8,2]}
df=pd.DataFrame(d)
df

In [ ]:
pivot2=df.pivot_table(index=["Cat","Rank"],aggfunc="mean") #This is one way of creating a pivot table
pivot2

# Binning

In [ ]:
d={"ID":[1001,1002,1003,1004,1005],"Marks":[78,88,45,67,59]}
df=pd.DataFrame(d)
df

In [ ]:
df["Grade"]=["A" if m>=80 else "B" if m>=65 else "C" if m>=50 else "F" for m in df["Marks"]]
df

Using binning

In [ ]:
d={"ID":[1001,1002,1003,1004,1005],"Marks":[78,88,45,67,59]}
df=pd.DataFrame(d)
df

In [ ]:
bins=[0,50,65,80,100]
grades=["F","C","B","A"]
df["Grade"]=pd.cut(df["Marks"],bins,labels=grades)
df

# Working with indexes & columns

In [ ]:
d={"Name":["Sam","Pam","Jane"],"Marks":[56,32,78],"Class":[1,2,3]}
df=pd.DataFrame(d,index=["a","b","c"])
df

# Columns of the data frame

In [ ]:
df.columns

# Indexes of the data frame

In [ ]:
df.index

# Changing the order of the rows

In [ ]:
df2=df.reindex(["b","c","a"])
df2

# Changing the order of the columns

In [ ]:
df3=df.reindex(columns=["Marks","Name","Class"])
df3

# Renaming the indexes & columns

In [ ]:
df4=df.rename(index={"a":"p"},columns={"Class":"Class No"})
df4

In [ ]:
df

In [ ]:
df.columns=["Student Name","Subject Marks","Class Number"]
df.index=["x","y","z"]
df

# Making indexes as a column

In [ ]:
df5=df.reset_index()
df5

# Permutation & taking samples

In [ ]:
d={"A":np.arange(1,11),"B":np.random.random(10),"C":np.random.randn(10)}
df=pd.DataFrame(d)
df

# Method 01 - Taking a shuffled data frame

# Shuffling data

In [ ]:
a=np.random.permutation(len(df))
a

In [ ]:
df1=df.take(a)
df1

# Random sample

In [ ]:
b=np.random.permutation(np.arange(5))
b

In [ ]:
df2=df.take(b)
df2

# Method 02 - Shuffling existing indexes

In [ ]:
index_new=np.random.permutation(df.index)
index_new

In [ ]:
df3=df.reindex(index_new)
df3

# Method 03 - Sample method

# Random sample

In [ ]:
df_sample=df.sample(5)
df_sample

# Shuffling data frame

In [ ]:
df_sample=df.sample(len(df))
df_sample