In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #For encoding categorical variables
from sklearn.preprocessing import StandardScaler

# Sliding Window

In [2]:
data=pd.DataFrame({"Date":["2021-01-01","2021-01-02","2021-01-03","2021-01-04","2021-01-05","2021-01-06","2021-01-07"],
                   "Price":[100,200,150,250,300,200,170]})
data

         Date  Price
0  2021-01-01    100
1  2021-01-02    200
2  2021-01-03    150
3  2021-01-04    250
4  2021-01-05    300
5  2021-01-06    200
6  2021-01-07    170

In [3]:
data["Next_Price"]=np.roll(data["Price"].values,-1)
data

         Date  Price  Next_Price
0  2021-01-01    100         200
1  2021-01-02    200         150
2  2021-01-03    150         250
3  2021-01-04    250         300
4  2021-01-05    300         200
5  2021-01-06    200         170
6  2021-01-07    170         100

In [ ]:
data.drop(6,inplace=True)
data

# Standardizing

In [ ]:
data=pd.DataFrame({"Height":[1.24,1.34,1.45,0.67,1.66],
                   "Width":[56,45,67,78,45]})
data

In [ ]:
df1=data.apply(lambda x:(np.array(x)-np.array(x).mean())/np.array(x).std())
df1

In [ ]:
ssc=StandardScaler()
mat_ssc=ssc.fit_transform(data)
mat_ssc

In [ ]:
df2=pd.DataFrame(mat_ssc,columns=["Height","Width"])
df2