# Importing seaborn

In [ ]:
import seaborn as sns
import pandas as pd #For future usage
import numpy as np  #For future usage
import matplotlib.pyplot as plt #For future usage

# Numerical data

# Line charts

In [ ]:
x=np.arange(100)
y=np.random.normal(20,3,100)
sns.lineplot(x,y)
plt.title("Simple line chart")
plt.xlabel("X")
plt.ylabel("Y")
plt.show()

In [ ]:
df=pd.DataFrame({"Year":[1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000],
                 "Weight":[76,64,65,70,78,79,75,74,69,68,65],
                "Height":[167,168,168,168,169,170,171,171,172,173,174]})
df

In [ ]:
sns.lineplot(data=df,x="Year",y="Weight")
plt.title("Weight with years")
plt.xlabel("Year")
plt.ylabel("Weight")
plt.show()

In [ ]:
sns.lineplot(data=df,x="Year",y="Weight")
sns.lineplot(data=df,x="Year",y="Height")
plt.title("Weight with years")
plt.xlabel("Year")
plt.ylabel("Weight")
plt.show()

# Histogram

In [ ]:
age=np.random.randint(10,100,500)
sns.distplot(age)
plt.title("Age Distribution")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

In [ ]:
weight=np.random.normal(50,3,500)
sns.distplot(weight)
plt.title("Weight Distribution")
plt.xlabel("Weight")
plt.ylabel("Frequency")
plt.show()

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.distplot(titanic["age"])
plt.title("Age Distribution")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

# Boxplot

In [ ]:
weight=np.random.normal(50,3,500)
sns.boxplot(weight)
plt.title("Weight Distribution")
plt.xlabel("Weight spread")
plt.show()

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.boxplot(titanic["age"])
plt.title("Age Distribution")
plt.xlabel("Age spread")
plt.show()

# Boxenplot

In [ ]:
weight=np.random.normal(50,3,500)
sns.boxenplot(weight)
plt.title("Weight Distribution")
plt.xlabel("Weight spread")
plt.show()

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.boxenplot(titanic["age"])
plt.title("Age Distribution")
plt.xlabel("Age spread")
plt.show()

# Violin plot

In [ ]:
weight=np.random.normal(50,3,500)
sns.violinplot(weight)
plt.title("Weight Distribution")
plt.xlabel("Weight spread")
plt.show()

In [ ]:
weight=np.random.normal(50,3,500)
sns.violinplot(weight,inner=None)
plt.title("Weight Distribution")
plt.xlabel("Weight spread")
plt.show()

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.violinplot(titanic["age"])
plt.title("Age Distribution")
plt.xlabel("Age spread")
plt.show()

# Categorical data

# Bar graphs

In [ ]:
df=pd.DataFrame({"Gender":["Male","Female"],"Number_of_Students":[34,57]})
df

# Vertical

In [ ]:
sns.barplot(data=df,x="Gender",y="Number_of_Students")
plt.title("Counts for Gender")
plt.show()

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
g=titanic.groupby("sex")["sex"].count()
df=pd.DataFrame(g)
df.columns=["Count"]
df.reset_index(inplace=True)
df

In [ ]:
sns.barplot(data=df,x="sex",y="Count")
plt.title("Counts for Gender")
plt.show()

# Horizontal

In [ ]:
df=pd.DataFrame({"Gender":["Male","Female"],"Number_of_Students":[34,57]})
df

In [ ]:
sns.barplot(data=df,y="Gender",x="Number_of_Students")
plt.title("Counts for Gender")
plt.show()

# Counting the categories

In [ ]:
df=pd.DataFrame({"Gender":["Male","Female","Male","Male","Female","Male"],"Age":[34,57,35,54,56,32]})
df

In [ ]:
sns.countplot("Gender",data=df)
plt.title("Count for Gender")
plt.show()

Pie chart is not available in seaborn library

# Bar plot using catplot

In [ ]:
df=pd.DataFrame({"Gender":["Male","Female"],"Number_of_Students":[34,57]})
df

In [ ]:
sns.catplot(data=df,x="Gender",y="Number_of_Students",kind="bar")
plt.title("Counts for Gender")
plt.show()

# Categorical VS Numerical using catplot

# Categorical scatter plots

In [ ]:
df=pd.DataFrame({"Gender":np.random.choice(a=["Male", "Female"],size=100),
                 "Age":np.round(np.random.normal(30,5,100)).astype("int")})
df.head()

In [ ]:
sns.catplot(data=df,x="Gender",y="Age")
plt.title("Age VS Gender")
plt.show()

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",jitter=False)
plt.title("Age VS Gender")
plt.show()

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",jitter=False,order=["Male","Female"])
plt.title("Age VS Gender")
plt.show()

# Swarm plots

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",kind="swarm")
plt.title("Age VS Gender")
plt.show()

# Represent another category

In [ ]:
df=pd.DataFrame({"Gender":np.random.choice(a=["Male", "Female"],size=100),
                 "Age":np.round(np.random.normal(30,5,100)).astype("int"),
                 "Class":np.random.choice(a=["A","B","C"],size=100)})
df.head()

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",kind="swarm",hue="Class")
plt.title("Age VS Gender")
plt.show()

In [ ]:
sns.swarmplot(data=df,x="Gender",y="Age",hue="Class")
plt.title("Age VS Gender")
plt.show()

# Changing to horizontal

In [ ]:
sns.catplot(data=df,y="Gender",x="Age",kind="swarm",hue="Class")
plt.title("Age VS Gender")
plt.show()

# Side by side boxplots

In [ ]:
df=pd.DataFrame({"Gender":np.random.choice(a=["Male", "Female"],size=100),
                 "Age":np.round(np.random.normal(30,5,100)).astype("int"),
                 "Class":np.random.choice(a=["A","B","C"],size=100)})
df.head()

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",kind="box")
plt.title("Age VS Gender")
plt.show()

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",kind="box",hue="Class")
plt.title("Age VS Gender")
plt.show()

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",kind="box",hue="Class",dodge=False)
plt.title("Age VS Gender")
plt.show()

# Side by side boxen plots

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",kind="boxen")
plt.title("Age VS Gender")
plt.show()

# Side by side violin plots

In [ ]:
sns.catplot(data=df,x="Gender",y="Age",kind="violin")
plt.title("Age VS Gender")
plt.show()

# Swarm & violin plots together

In [ ]:
g=sns.catplot(data=df,x="Gender",y="Age",kind="violin",inner=None)
sns.swarmplot(data=df,x="Gender",y="Age",ax=g.ax,color="black")
plt.title("Age VS Gender")
plt.show()

# Bar graphs for averages with categorical data

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.catplot(data=titanic,x="sex",y="age",kind="bar")
plt.title("Age with Gender")
plt.show()

# Comparing one numerical variable with two categorical variables

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.catplot(data=titanic,x="sex",y="age",hue="alive",kind="bar")
plt.title("Age with Gender")
plt.show()

# Point charts for averages with categorical data

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.catplot(data=titanic,x="sex",y="age",kind="point")
plt.title("Age with Gender")
plt.show()

In [ ]:
sns.catplot(data=titanic,x="sex",y="age",hue="alive",kind="point")
plt.title("Age with Gender")
plt.show()

# Categorical VS Categorical data using catplot

# Multiple bar graphs

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.catplot(x="sex", kind="count", hue="alive", data=titanic)
plt.title("Death status with Gender")
plt.show()

# Numerical VS Numerical data using catplot

# Scatter plots

In [ ]:
tips = sns.load_dataset("tips")
tips.head()

In [ ]:
sns.scatterplot(data=tips, x="total_bill", y="tip")
plt.title("Tips VS Total Bill")
plt.show()

In [ ]:
sns.scatterplot(data=tips, x="total_bill", y="tip",hue="sex")
plt.title("Tips VS Total Bill")
plt.show()

# Bubble plots (Comparing 3 numerical variables)

In [ ]:
tips = sns.load_dataset("tips")
tips.head()

In [ ]:
sns.scatterplot(data=tips, x="total_bill",  y="tip",size="size",hue="sex")
plt.title("Tips VS Total Bill")
plt.show()

# Pair plots

In [ ]:
titanic = sns.load_dataset("titanic")
df=titanic[["age","fare"]]
df.head()

In [ ]:
sns.pairplot(df)
plt.show()

In [ ]:
df=pd.DataFrame({"val1":np.random.random(100),"val2":np.random.randn(100),"val3":np.random.normal(50,2,100)})
df.head()

In [ ]:
sns.pairplot(df)
plt.show()

# Heat maps

In [ ]:
df=pd.DataFrame({"Loc1":[0,10,20],"Loc2":[10,0,15],"Loc3":[20,15,0]},index=["Loc1","Loc2","Loc3"])
df

In [ ]:
sns.heatmap(df,annot=True)
plt.show()

In [ ]:
titanic = sns.load_dataset("titanic")
df=titanic[["age","fare"]]
df.head()

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.corr(),annot=True,vmin=-1,vmax=1)
plt.show()